* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/ap_include.am -text
/apertium-tha-lao.lao-tha.lrx -text
/apertium-tha-lao.lao-tha.t1x -text
/apertium-tha-lao.lao-tha.t2x -text
/apertium-tha-lao.lao-tha.t3x -text
/apertium-tha-lao.tha-lao.dix -text
/apertium-tha-lao.tha-lao.lrx -text
/apertium-tha-lao.tha-lao.t1x -text
/apertium-tha-lao.tha-lao.t2x -text
/apertium-tha-lao.tha-lao.t3x -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.log -text
/config.status -text
/configure -text
/configure.ac -text
/install-sh -text
/missing -text
/modes.xml -text
/result-lao-thai.png -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
